{
  "plugins": [
    {
      "name": "basisjs-tools-babel-plugin",
      "options": {
        "presets": [
          "es2015"
        ]
      },
      "ignore": [
        "node_modules/**"
      ]
    },
    "basisjs-tools-instrumenter"
  ],
  "build": {
    "file": "./index.html",
    "output": "build"
  }
}
