<div class="jumbotron text-center">
  <h1>404
    <small> not found</small>
  </h1>
  <div class="alert alert-danger">
    Страница не найдена!
  </div>
  <button class="btn btn-primary btn-lg" event-click="home">На главную</button>
</div>